/* LOGIN */
.auth-box {
    height: 500px !important;
}

.modal-dialog {
	margin-top:10%;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-error hr {
  border-top-color: #e4b9c0;
}
.alert-error .alert-link {
  color: #843534;
}


/* VERIFICAR COM INTERNET / SEM INTERNET*/
.auth-box .left:before {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    vertical-align: middle;
    height: 0%;
}

.help-block {
    display: block;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #737373;
}

.alert {
    padding: 5px;
    margin-bottom: 16px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.auth-box .form-auth-small .bottom {
    margin-top: 17px;
    text-align: center;
}

.auth-box .header {
    margin-bottom: 0px;
}

.auth-box .left {
    float: left;
    width: 42%;
    height: 100%;
    padding: 30px 30px;
    text-align: center;
}