{% extends 'base.html' %}
{% load staticfiles %}
{% load formtags %}

{% block extra_styles %}
	<link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<ol class="breadcrumb">
			<li><a href="{% url 'main:home' %}"><i class="fa fa-home fa-fw"></i> Inicio</a></li>
			<li><a href="{% url 'accounts:list_user' %}"><i class="fa fa-user fa-fw"></i> Usuários</a></li>
			<li class="active"><i class="fa fa-plus fa-fw"></i> Novo Usuário</li>
		</ol>
		<!-- ROW CREATE USER -->
		<div class="row" id="create_user">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">Novo Usuário</h3>
						<div class='right'>
							<ul class="list-inline">
								<li>
									<a href='{% url "accounts:list_user" %}'><i style="font-size:15px;" class='lnr lnr-cross'></i></a>
								</li>
							</ul>
						</div>
					</div>

					<div class="panel-body">

						{% include "messages.html" %}

						<div class='col-md-12'>
							<div class="profile-detail">

								<form name='create_user' method='POST' class="accounts-user">
								{% csrf_token %}
									<div class='row'>
										<div class='col-md-4 col-md-offset-2'>

											<div class='input-group {% if form_profile.first_name.errors %}has-error{% endif %}'>
												<div class='input-group-addon'>
													<i class='fa fa-id-card fa-fw'></i>
												</div>
												{{ form_profile.first_name|placeholder:"Nome" |addcss:"form-control" }}
											</div>
											<span class="error text-danger">{{ form_profile.first_name.errors|join:"<br \>" }}</span>

											<div class='input-group {% if form_profile.last_name.errors %}has-error{% endif %}'>
												<div class='input-group-addon'>
													<i class='fa fa-id-card fa-fw'></i>
												</div>
												{{ form_profile.last_name|placeholder:"Sobrenome" |addcss:"form-control" }}
											</div>
											<span class="error text-danger">{{ form_profile.last_name.errors|join:"<br \>" }}</span>

											<div class='input-group {% if form_profile.birthday.errors %}has-error{% endif %}'>
												<div class='input-group-addon'>
													<i class='fa fa-birthday-cake fa-fw'></i>
												</div>
												{{ form_profile.birthday|addcss:"form-control" }}
											</div>
											<span class="error text-danger">{{ form_profile.birthday.errors|join:"<br \>" }}</span>

											<div class='input-group {% if form_user.email.errors %}has-error{% endif %}'>
												<div class='input-group-addon'>
													<i class='fa fa-envelope fa-fw'></i>
												</div>
												{{ form_user.email|placeholder:"usuario@exemplo.com" |addcss:"form-control" }}
											</div>
											<span class="error text-danger">{{ form_user.email.errors|join:"<br \>" }}</span>

											<div class='input-group {% if form_user.password1.errors %}has-error{% endif %}'>
												<div class='input-group-addon'>
													<i class='fa fa-key fa-fw'></i>
												</div>
												{{ form_user.password1|placeholder:"senha" |addcss:"form-control" }}
											</div>
											<span class="error text-danger">{{ form_user.password1.errors|join:"<br \>" }}</span>

											<div class='input-group {% if form_user.password2.errors %}has-error{% endif %}'>
												<div class='input-group-addon'>
													<i class='fa fa-lock fa-fw'></i>
												</div>
												{{ form_user.password2|placeholder:"Repetir Senha" |addcss:"form-control" }}
											</div>
											<span class="error text-danger">{{ form_user.password2.errors|join:"<br \>" }}</span>

										</div><!-- EMD COL-MD-4 -->

										<div class='col-md-4'>
											<div class='input-group {% if form_profile.description.errors %}has-error{% endif %}'>
												<div class='input-group-addon'>
													<i class='fa fa-pencil fa-fw'></i>
												</div>
												{{ form_profile.description|placeholder:"Informações do perfil" |textarea:"6" |addcss:"form-control" }}
											</div>
											<span class="error text-danger">{{ form_profile.description.errors|join:"<br \>" }}</span>

											<div class='input-group {% if form_profile.state.errors %}has-error{% endif %}'>
												<div class='input-group-addon'>
													<i class='fa fa-map-marker fa-fw'></i>
												</div>
												{{ form_profile.state|addcss:"form-control" }}
											</div>
											<span class="error text-danger">{{ form_profile.state.errors|join:"<br \>" }}</span>

											<div class='input-group {% if form_profile.url.errors %}has-error{% endif %}'>
												<div class='input-group-addon'>
													<i class='fa fa-bookmark fa-fw'></i>
												</div>
												{{ form_profile.url|placeholder:"Site / Rede Social" |addcss:"form-control" }}
											</div>
											<span class="error text-danger">{{ form_profile.url.errors|join:"<br \>" }}</span>

										</div><!-- END COL-MD-4 -->
									</div><!-- END ROW -->


									<div class="text-center">
										<button class='btn btn-primary' type='submit' name='new_user' id='id_new_user'>
											Salvar
										</button>

										<a class='btn btn-danger' href="{% url 'accounts:list_user' %}" name='close_new_user' id='id_close_new_user'>
											Fechar
										</a>
									</div>

								</form>
							</div>
						</div>
					</div>

				</div><!-- END PANEL -->
			</div><!-- END COL-MD-12 -->

		</div><!-- END ROW CREATE USER -->
	</div><!-- END CONTAINER-FLUID -->
{% endblock %}

{% block extra_scripts %}
	<script src="{% static 'js/libs/moment.min.js' %}"></script>
	<script src="{% static 'js/libs/daterangepicker.js' %}"></script>
	<script src="{% static 'js/accounts.js' %}"></script>
{% endblock %}