{% extends 'base.html' %}
{% load staticfiles %}
{% load formtags %}

{% block content %}
	<div class="container-fluid">
		<ol class="breadcrumb">
			<li><a href="home.html"><i class="fa fa-home fa-fw"></i> Inicio</a></li>
			<li><a href="{% url 'accounts:list_user' %}"><i class="fa fa-user fa-fw"></i> Usuários</a></li>
			<li class="active"><i class="fa fa-edit fa-fw"></i> Editar Usuário</li>
		</ol>

		<!-- ROW UPDATE USER -->
		<div class="row" id="update_user">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">Editar Usuário</h3>
						<div class='right'>
							<ul class="list-inline">
								<li><a href='{% url "accounts:list_user" %}'><i style="font-size:15px;" class='lnr lnr-cross'></i></a></li>
							</ul>
						</div>
					</div>
					<div class="panel-body">

						{% include "messages.html" %}

						<div class='col-md-12'>
							<div class="profile-detail">

								<form name='edit_user' method='POST'>
									{% csrf_token %}
									<div class='row'>
										<div class='col-md-4 col-md-offset-2'>

											<div class='input-group {% if form_profile.first_name.errors %}has-error{% endif %}'>
												<div class='input-group-addon'>
													<i class='fa fa-id-card fa-fw'></i>
												</div>
												{{ form_profile.first_name|addcss:"form-control" }}
											</div>
											<span class="error text-danger">{{ form_profile.first_name.errors|join:"<br \>" }}</span>

											<div class='input-group {% if form_profile.last_name.errors %}has-error{% endif %}'>
												<div class='input-group-addon'>
													<i class='fa fa-id-card fa-fw'></i>
												</div>
												{{ form_profile.last_name|addcss:"form-control" }}
											</div>
											<span class="error text-danger">{{ form_profile.last_name.errors|join:"<br \>" }}</span>

											<div class='input-group {% if form_profile.birthday.errors %}has-error{% endif %}'>
												<div class='input-group-addon'>
													<i class='fa fa-birthday-cake fa-fw'></i>
												</div>
												{{ form_profile.birthday|addcss:"form-control" }}
											</div>
											<span class="error text-danger">{{ form_profile.birthday.errors|join:"<br \>" }}</span>

											<div class='input-group {% if form_user.email.errors %}has-error{% endif %}'>
												<div class='input-group-addon'>
													<i class='fa fa-envelope fa-fw'></i>
												</div>
												{{ form_user.email|addcss:"form-control" }}
											</div>
											<span class="error text-danger">{{ form_user.email.errors|join:"<br \>" }}</span>

											<div class='input-group {% if form_profile.state.errors %}has-error{% endif %}'>
												<div class='input-group-addon'>
													<i class='fa fa-map-marker fa-fw'></i>
												</div>
												{{ form_profile.state|addcss:"form-control" }}
											</div>
											<span class="error text-danger">{{ form_profile.state.errors|join:"<br \>" }}</span>

											<div class='input-group {% if form_profile.url.errors %}has-error{% endif %}'>
												<div class='input-group-addon'>
													<i class='fa fa-bookmark fa-fw'></i>
												</div>
												{{ form_profile.url|addcss:"form-control" }}
											</div>
											<span class="error text-danger">{{ form_profile.url.errors|join:"<br \>" }}</span>

										</div><!-- col-md-4 -->

										<div class='col-md-4'>
											<div class='input-group {% if form_profile.description.errors %}has-error{% endif %}'>
												<div class='input-group-addon'>
													<i class='fa fa-pencil fa-fw'></i>
												</div>
												{{ form_profile.description|textarea:"7" |addcss:"form-control" }}
											</div>
											<span class="error text-danger">{{ form_profile.description.errors|join:"<br \>" }}</span>

											<ul class="list-inline ul_user_edit">
												<li>
													<div class="form-group {% if form_user.status_alert.errors %}has-error{% endif %}">

														<label class="switch">
															{{ form_user.is_active|addcss:"form-control" }}
															<div class="slider round"></div>
														</label>
														<small class="text-muted">bloqueado/ativo</small>
													</div>
												</li>
												<li>
													<a onclick="get_form_password('{% url 'accounts:edit_password_user' object.pk %}');" class='col-sm-12' href="#" data-toggle="modal" data-target=".bs-example-modal-static">
														<i class='fa fa-lock fa-fw'></i> * Editar Senha
													</a>
												</li>
											</ul>

										</div><!-- col-md-4 -->

									</div><!-- row -->


									<div class="text-center">
										<button class='btn btn-primary' type='submit' name='edit_user' id='id_edit_user'>
										Editar
										</button>

										<a class='btn btn-danger' href="{% url 'accounts:list_user' %}" name='close_edit_user' id='id_close_edit_user'>
										Fechar
										</a>
									</div>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div><!-- END ROW UPDATE USER -->
	</div><!-- END CONTAINER-FLUID -->

	<!--MODAL INIT-->
	<div class="modal fade bs-example-modal-static" tabindex="-1" role="dialog" data-backdrop="static">
	<div class="modal-dialog">
	  <div class="modal-content">

	    <div class="modal-header">
	      <button aria-hidden="true" data-dismiss="modal" class="close" type="button"><i style="font-size:15px;" class='lnr lnr-cross'></i></button>
	      <h4 class="modal-title">Editar Senha</h4>
	    </div>

	    <div class="modal-body">
	    	<div id="modal_edit_password"></div>
	    </div><!--modal-body-->
	  </div><!--modal-content-->
	</div><!--modal-dialog-->
	</div><!--modal-->
	<!--MODAL END-->

{% endblock %}

{% block extra_scripts %}
	<script src="{% static 'js/libs/moment.min.js' %}"></script>
	<script src="{% static 'js/libs/daterangepicker.js' %}"></script>
	<script src="{% static 'js/profile.js' %}"></script>

	<script type="text/javascript">
		function get_form_password(url){
		  $.ajax({
		    type: 'get',
		    url: url,
		    success: function(data) {
		        $("#modal_edit_password").replaceWith(data);
		    },
		    error: function (data) {
		        $("#modal_edit_password").html("Error");
		      },

		  });
		  return false;
		}

		function submit_password(url){
		  $('#id_edit_password').prop('disabled', true);
		  $form=$('#form_edit_password_user');

		  var datastring = $form.serialize();
		  $.ajax({
		    type: 'post',
		    url: url,
		    data : datastring,

		    success: function(data) {
		      if (data == 'ok'){
		        window.location.href = '/accounts/edit_user/'+{{ object.pk }};
		      }else{
		        $("#modal_edit_password").replaceWith(data);}
		    },

		    error: function (data) {
		        $("#modal_edit_password").html("Error");
		      },

		  });
		  return false;
		}
	</script>
{% endblock %}