{% load staticfiles %}

<div id="form-edit-password">
	<form role="form" id='myform' class="form-bordered">
		{% csrf_token %}

		{% if messages %}
			{% for message in messages %}
				<div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible"{% endif %} role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong>{{ message.tags }}:</strong> {{ message }}.
				</div>
			{% endfor %}
		{% endif %}

		{% if form.errors %}
			<div class="alert alert-danger">
				<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				<strong>Error: </strong>
				{% for field, error in form.errors.items %}
					{% if field != '__all__' %}{{ field }}{% endif %}
					{{ error | striptags }}<br />
				{% endfor %}
			</div>
		{% endif %}


		<div class="row">
			<div class='col-md-12'>
			    <div class="form-group {% if form.old_password.errors %}has-error{% endif %}">
			      <label class="col-sm-4 control-label" for="id_old_password">* Senha:</label>
			      <div class="col-sm-8">
			        <input class="form-control" id="id_old_password" name="old_password" type="password"placeholder="Senha Atual">
			        <span class="error text-danger">{{ form.old_password.errors|join:"<br \>" }}</span>
			      </div>
			    </div>

			    <div class="form-group {% if form.new_password1.errors %}has-error{% endif %}">
			      <label class="col-sm-4 control-label" for="id_new_password1">* Nova Senha:</label>
			      <div class="col-sm-8">
			        <input class="form-control" id="id_new_password1" name="new_password1" type="password"placeholder="Nova Senha">
			        <span class="error text-danger">{{ form.new_password1.errors|join:"<br \>" }}</span>
			      </div>
			    </div>

			    <div class="form-group {% if form.new_password2.errors %}has-error{% endif %}">
			      <label class="col-sm-4 control-label" for="id_new_password2">* Repetir Senha:</label>
			      <div class="col-sm-8">
			        <input class="form-control" id="id_new_password2" name="new_password2" type="password"placeholder="Repetir Senha">
			        <span class="error text-danger">{{ form.new_password2.errors|join:"<br \>" }}</span>
			      </div>
			    </div>
			</div>
		</div><!--row-->

		<hr>

		<div class="row">
		  <div class="col-md-8 col-md-offset-4" style="margin-top:2%;">
		    <button type="button" onclick="submit_password('{% url 'accounts:edit_password' %}');" class="btn btn-primary btn-metro" id='send'>Editar</button>
		    <button aria-hidden="true" data-dismiss="modal" class="btn btn-danger" type="button">Fechar</button>
		  </div>
		</div>

	</form><!--form-->
</div>