{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

	<div class="container-fluid">
		<ol class="breadcrumb">
			<li><a href="{% url 'main:home' %}"><i class="fa fa-home fa-fw"></i> Inicio</a></li>
			<li class='active'><i class="fa fa-user fa-fw"></i> Usuários</li>
		</ol>

		<!-- ROW LIST USER -->
		<div class="row" id="list_user">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">Usuários</h3>
						<div class='right'>
							<ul class="list-inline">
								<li>
									<form class="form-inline" method='get'>
										<label class="sr-only" for="date">Data</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
											<select class="form-control" name="status_user" id="id_status_user">
												<option {% if request.GET.status_user == 'all' %}selected{% endif %} value="all">todos</option>
												<option {% if request.GET.status_user == 'True' %}selected{% endif %} value="True">ativo</option>
												<option {% if request.GET.status_user == 'False' %}selected{% endif %} value="False">bloqueado</option>
											</select>
										</div>
										<button type="submit"><i class='lnr lnr-magnifier'></i></button>
									</form>
								</li>
								<li>
									<a href="{% url 'accounts:create_user' %}"><i style="font-size:15px;" class='lnr lnr-plus-circle'></i></a>
								</li>
							</ul>
						</div>
					</div>

					<div class="panel-body">

						{% include "messages.html" %}

						{% if not object_list %}
							<div class='empty-object'>
								<center>
									<h3>Não existem usuários cadastrados</h3>
								</center>
							</div>
						{% else %}
							<div class="table-responsive">
								<table class="table table-striped mb30">
									<thead>
										<tr>
											<th>Nome</th>
											<th>E-mail</th>
											<th>Status</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										{% for user_list in object_list %}
											<tr>
												<td>{{ user_list.profile_user.first_name }} {{ user_list.profile_user.last_name }}</td>
												<td>{{ user_list.email }}</td>
												<td>
												{% if user_list.is_active %}
													<i style='color:green;' class='fa fa-check-circle'></i>
												{% else %}
													<i style='color:red;' class='fa fa-check-circle'></i>
												{% endif %}
												</td>
												<td class="actions">
													<a href="{{ user_list.get_edit_user }}"><i class="lnr lnr-pencil"></i></a>
													<a href="{{ user_list.get_delete_user }}"><i class="lnr lnr-trash"></i></a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>

							<nav><!--nav-->
								<ul class="pagination pagination-centered" style='margin: 5px 0 7px;'><!--ul pagination pagination-centered -->
									<li>
										<a class='{% if page_obj.has_previous %}btn{% else %} btn disabled{% endif %}' href="?page=1" title=""><<</a>
									</li>

									<li>
										<a class='{% if page_obj.has_previous %}btn{% else %} btn disabled {% endif %}' href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}" title=""><</a>
									</li>

									<li>
										<a class='{% if page_obj.has_next %}btn{% else %} btn disabled{% endif %}' href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}" title="">></a>
									</li>

									<li>
										<a class='{% if page_obj.has_next %}btn{% else %}btn disabled{% endif %}' href="?page={{paginator.num_pages}}" title="">>></a>
									</li>
								</ul><!--ul pagination pagination-centered -->
							</nav><!--nav-->
							<small>{{ page_obj.number }} de {{paginator.num_pages}}</small>

						{% endif %}
					</div>

				</div>
			</div>

		</div><!-- END LIST USER -->
	</div><!-- END CONTAINER-FLUID -->
{% endblock %}