{% extends 'base.html' %}
{% load static %}
{% load formtags %}

{% block content %}
	<div class="container-fluid">
		<ol class="breadcrumb">
			<li><a href="{% url 'main:home' %}"><i class="fa fa-home fa-fw"></i> Inicio</a></li>
			<li><a href="{% url 'accounts:list_user' %}"><i class="fa fa-user fa-fw"></i> Usuários</a></li>
			<li class="active"><i class="fa fa-trash fa-fw"></i> Apagar Usuário</li>
		</ol>

		<div class="row" id="delete_user">
			<div class="col-md-12">

				<div class="panel">

					<div class="panel-heading">
						<h3 class="panel-title">Apagar Usuário</h3>
						<div class='right'>
							<ul class="list-inline">
								<li><a href="{% url 'accounts:list_user' %}"><i style="font-size:15px;" class='lnr lnr-cross'></i></a></li>
							</ul>
						</div>
					</div>

					<div class="panel-body">
						<div class='col-md-8 col-md-offset-2'>
							<div class="profile-detail">
								<div class="profile-info">
									<ul class="list-unstyled list-justify">
										<li><i class='fa fa-user fa-fw'></i> Nome <span>{{ object.profile_user.first_name }} {{ object.profile_user.last_name }}</span></li>
										<li><i class='fa fa-birthday-cake fa-fw'></i> Aniversário <span>{{ object.profile_user.birthday }}</span></li>
										<li><i class='fa fa-map-marker fa-fw'></i> Estado <span>{{ object.profile_user.state }}</span></li>
										<li><i class='fa fa-envelope fa-fw'></i> E-mail <span>{{ object.email }}</span></li>
										<li><i class='fa fa-bookmark fa-fw'></i> Website <span><a href="{{ object.url }}">{{ object.profile_user.url }}</a></span></li>
									</ul>
								</div>
								<div class="profile-info">
									<h4 class="heading">Informações</h4>
									<p>{{ object.profile_user.description }}</p>
								</div>
								<div class="text-center">
									<form action="{{ object.get_delete_user }}" method="post" class='form-inline'>
									{% csrf_token %}
										<div class='row'>

											<div class="form-group">
												<input type="submit" class='btn btn-danger' value="Sim"/>
											</div>
											<div class="form-group">
												<a class='btn btn-primary' href="{% url 'accounts:list_user' %}">Não</a>
											</div>

										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div><!-- END ROW DELETE USER -->
	</div><!-- END CONTAINER-FLUID -->
{% endblock %}