{% load formtags %}

<div class="col-md-4">
    <div class="metric">
        <span class="icon" style="background-color:white;">
            <i class="fa fa-thumbs-up" aria-hidden="true" style="color:#5cb85c;"></i>
        </span>
        <p>
            <span class="number">R$ {{ total_deposit|decimal_to_real }}</span>
            <span class="title">Total Recebido</span>
        </p>
    </div>
</div>
<div class="col-md-4">
    <div class="metric">
        <span class="icon" style="background-color:white;">
            <i class="fa fa-thumbs-down" aria-hidden="true" style="color:#d9534f;"></i>
        </span>
        <p>
            <span class="number">R$ {{ total_debit|decimal_to_real }}</span>
            <span class="title">Total Descontos</span>
        </p>
    </div>
</div>
<div class="col-md-4">
    <div class="metric">
        <span class="icon" style="background-color:white;">
            <i class="fa {% if balance >= 0 %}fa-plus-square icon-panel-success{% else %}fa-minus-square icon-panel-danger{% endif %}" aria-hidden="true"></i>
        </span>
        <p>
            <span class="number">R$ {{ balance|decimal_to_real }}</span>
            <span class="title">Saldo</span>
        </p>
    </div>
</div>