{% extends 'base.html' %}
{% load staticfiles %}
{% load formtags %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid" id="home">
        <ol class="breadcrumb">
            <li class='active'><i class="fa fa-home fa-fw"></i> Inicio</li>
        </ol>

        <!-- OVERVIEW -->
        <div class="row" id="overview">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Totalizadores</h3>
                    </div>
                    <div class="panel-body">

                        <div class="row" id="totalizadores">
                            <div class="col-md-4">
                                <div class="metric">
                                    <span class="icon" style="background-color:white;">
                                        <i class="fa fa-thumbs-up" aria-hidden="true" style="color:#5cb85c;"></i>
                                    </span>
                                    <p>
                                        <span class="number">R$ 0,00</span>
                                        <span class="title">Total Recebido</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="metric">
                                    <span class="icon" style="background-color:white;">
                                        <i class="fa fa-thumbs-down" aria-hidden="true" style="color:#d9534f;"></i>
                                    </span>
                                    <p>
                                        <span class="number">R$ 0,00</span>
                                        <span class="title">Total Descontos</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="metric">
                                    <span class="icon" style="background-color:white;">
                                        <i class="fa {% if balance >= 0 %}fa-plus-square icon-panel-success{% else %}fa-minus-square icon-panel-danger{% endif %}" aria-hidden="true"></i>
                                    </span>
                                    <p>
                                        <span class="number">R$ 0,00</span>
                                        <span class="title">Saldo</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-12' id='chart-col'>
                                <div class="chart-container">
                                    <div id="chart-line" style="width:100%;margin: 0 auto"></div>
                                </div>
                            </div>
                        </div>

                    </div><!-- panel body -->
                </div><!-- panel -->
            </div><!-- col-md-12 -->
        </div><!-- end row -->
        <!-- END OVERVIEW -->

        <!-- PAYMENTS -->
        <div class="row" id="payments">
            <div class="col-md-6" id='debit-col'>
                <!-- TABLE STRIPED -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Débitos</h3>
                        <div class="right">
                            <ul class="list-inline">
                                <li><a class="add-form" data-toggle="modal" data-target=".bs-example-modal-static" href='#'><i style="font-size:16px;" class='lnr lnr-plus-circle'></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="context-debits"></div>
                    </div>
                    <!-- END TABLE STRIPED -->
                </div>
            </div>

            <div class="col-md-6" id='deposit-col'>
                <!-- TABLE STRIPED -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Depósitos</h3>
                        <div class="right">
                            <ul class="list-inline">
                                <li>
                                    <a class="add-form" data-toggle="modal" data-target=".bs-example-modal-static" href='#'><i style="font-size:16px;" class='lnr lnr-plus-circle'></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="context-deposits"></div>
                    </div>
                </div>
                <!-- END TABLE STRIPED -->
            </div>
        </div>
        <!-- END PAYMENTS -->

        <!-- NOTE LIST -->
        <div class="row" id="notes_home">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Notas</h3>
                        <div class="right">
                            <ul class="list-inline">
                                <li>
                                    <a class="add-form" data-toggle="modal" data-target=".bs-example-modal-static" href='#'><i style="font-size:16px;" class='lnr lnr-plus-circle'></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="context-notes"></div>
                    </div>
                </div><!-- END PANEL -->
            </div><!-- END COL-MD-12 -->
        </div><!-- END ROW NOTAS -->
        <!-- END NOTE LIST -->

        <!--MODAL INIT-->
        <div class="modal fade bs-example-modal-static" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <div id="modal-home"></div>
          </div><!--modal-content-->
        </div><!--modal-dialog-->
        </div><!--modal-->
        <!--MODAL END-->

    </div><!-- container-fluid -->
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/libs/moment.min.js' %}"></script>
    <script src="{% static 'js/libs/daterangepicker.js' %}"></script>
    <script src="{% static 'js/libs/highcharts.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}