{% load staticfiles %}
{% load formtags %}
<!doctype html>
<html lang="pt-br" class="fullscreen-bg">

    <head>
        <title>Payments</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <!-- VENDOR CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/linearicons/style.css' %}">
        <!-- MAIN CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
        <!-- CUSTOM CSS -->
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <!-- GOOGLE FONTS -->
        <link rel="stylesheet" href="{% static 'css/fonts-google/css/font-googleapi.css' %}">
        <!--
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet'>
        -->
        <!-- ICONS -->
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicon.png' %}">
    </head>

    <body>
        <!-- WRAPPER -->
        <div id="wrapper">
            <div class="vertical-align-wrap">
                <div class="vertical-align-middle">
                    <div class="auth-box ">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="content">
                                <div class="header">
                                    <div class="logo text-center">
                                        <img style='height: 60px;' src="{% static 'assets/img/apple-icon.png' %}">
                                    </div>
                                    <p class="lead">Carteira Virtual</p>
                                </div>

                                {% include "messages.html" %}

                                <form class="form-auth-small" method="POST">
                                {% csrf_token %}
                                    <div class="form-group {% if form.username.errors %}has-error{% endif %}">
                                        <label for="id_username" class="control-label sr-only">Email</label>
                                        {{ form.username|placeholder:"E-mail" |addcss:"form-control" }}
                                        <span class="help-block text-danger">{{ form.username.errors|join:"<br />" }}</span>
                                    </div>
                                    <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                                        <label for="id_password" class="control-label sr-only">Password</label>
                                        {{ form.password|placeholder:"Senha" |addcss:"form-control" }}
                                        <span class="help-block text-danger">{{ form.password.errors|join:"<br />" }}</span>
                                    </div>
                                    <div class="form-group clearfix">
                                        <label class="fancy-checkbox element-left">
                                            <input type="checkbox" id="rememberMe" value="1">
                                            <span style="color:#fff;">Lembrar-me</span>
                                        </label>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                                    <a href="{% url 'accounts:create_account' %}" class="btn btn-danger btn-block">Criar Conta</a>

                                    <div class="bottom">
                                        <span class="helper-text"><i style='color: #d9534f;' class="fa fa-lock"></i> <a onclick="get_form_password('{% url 'accounts:reset_password' %}');" href="#" data-toggle="modal" data-target=".bs-example-modal-static"> Recuperar Senha</a></span>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </div><!-- END WRAPPER -->

        <!-- MODAL -->
        <div class="modal fade bs-example-modal-static" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button"><i style="font-size:15px;" class='lnr lnr-cross'></i></button>
                        <h4 class="modal-title">Recuperar Senha</h4>
                    </div>

                    <div class="modal-body">
                        <div id="modal_recovery_password"></div>
                    </div><!--modal-body-->
                </div><!--modal-content-->
            </div><!--modal-dialog-->
        </div><!--modal-->
        <!-- MODAL END -->

        <!-- JS -->
        <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/libs/remember.js' %}"></script>
        <!-- END JS -->

        <script type="text/javascript">
            function get_form_password(url){
                $.ajax({
                    type: 'get',
                    url: url,
                    success: function(data) {
                        $("#modal_recovery_password").replaceWith(data);
                    },
                    error: function (data) {
                        msg = '<div class="alert alert-danger"> <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button> <strong>Error: </strong> Contate o Administrador o sistema.</div><div class="text-center"><button aria-hidden="true" data-dismiss="modal" class="btn btn-danger" type="button">Close</button></div>';
                        $("#modal_recovery_password").html(msg);
                    },
                });
                return false;
            }

            function submit_password(url){
                $('#id_reset_password').prop('disabled', true);
                $form=$('#reset_password');

                var datastring = $form.serialize();
                $.ajax({
                    type: 'post',
                    url: url,
                    data : datastring,

                    success: function(data) {
                        if (data == 'ok'){
                            window.location.href = '/accounts/sign_in/';
                        }else{
                            $("#modal_recovery_password").replaceWith(data);}
                        },
                    error: function (data) {
                        msg = '<div class="alert alert-danger"> <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button> <strong>Error: </strong> Contate o Administrador o sistema.</div><div class="text-center"><button aria-hidden="true" data-dismiss="modal" class="btn btn-danger" type="button">Close</button></div>';
                        $("#modal_recovery_password").html(msg);
                    },
                });
                return false;
            }
        </script>

    </body>
</html>