{% load staticfiles %}
{% load formtags %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="Template Base">
        <meta name="author" content="Henrique Luz Rodrigues">

        <title>Payments</title>

        <link href="{% static 'themepixels.com/demo/webpage/chain/css/style.default.css' %}" rel="stylesheet">
        <link href="{% static 'themepixels.com/demo/webpage/chain/css/style_custom.css' %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>

    <body class="signin">

        <section>
            <div class="panel panel-signin">
                <div class="panel-body">
                    <div class="logo text-center">
                        <img src="{% static 'themepixels.com/demo/webpage/chain/images/logo-primary.png' %}" alt="Chain Logo" >
                    </div>
                    <br />
                    <h4 class="text-center mb5">Already a Member?</h4>
                    <p class="text-center">Sign in to your account</p>

                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <strong>Error: </strong>
                            {% for field, error in form.errors.items %}
                                {% if field != '__all__' %}{{ field }}{% endif %}
                                {{ error | striptags }}
                                <br />
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form method='POST'>
                        {% csrf_token %}
                        <div class="input-group {% if form.username.errors %}has-error{% endif %}">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            {{ form.username|placeholder:"teste@teste.com" |addcss:"form-control" }}
                        </div><!-- input-group -->
                        <label class="error">{{ form.username.errors|join:"<br />" }}</label>

                        <div class="input-group {% if form.password.errors %}has-error{% endif %}">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            {{ form.password|addcss:"form-control" }}
                        </div><!-- input-group -->
                        <label class="error">{{ form.password.errors|join:"<br />" }}</label>

                        <div class="clearfix">
                            <div class="pull-left">
                                <div class="ckbox ckbox-primary mt10">
                                    <input type="checkbox" id="rememberMe" value="1">
                                    <label for="rememberMe">Remember Me</label>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success">Sign In <i class="fa fa-angle-right ml5"></i></button>
                            </div>
                        </div>
                    </form>

                </div><!-- panel-body -->
                <div class="panel-footer">
                    <a href="signup.html" class="btn btn-primary btn-block">Not yet a Member? Create Account Now</a>
                </div><!-- panel-footer -->
            </div><!-- panel -->
        </section>

        <script src="{% static 'themepixels.com/demo/webpage/chain/js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'themepixels.com/demo/webpage/chain/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'themepixels.com/demo/webpage/chain/js/pace.min.js' %}"></script>
        <script src="{% static 'themepixels.com/demo/webpage/chain/js/app_custom.js' %}"></script>

    </body>
</html>