{% load staticfiles %}
{% load formtags %}

<div id='modal_recovery_password'>
    <h4 class='text-center' style='margin-top:0px;'>Informe seu E-mail</h4>
    <form class="form-bordered" method="post" id='reset_password'>
    {% csrf_token %}

        {% include "messages.html" %}

        <div class='row'>
            <div class='col-md-12'>
                <div class='input-group {% if form.email.errors %}has-error{% endif %}'>
                    <div class='input-group-addon'>
                        <i class='fa fa-envelope fa-fw'></i>
                    </div>
                    {{ form.email|placeholder:"usuario@exemplo.com" |addcss:"form-control" }}
                </div>
                <span class="error text-danger">{{ form.email.errors|join:"<br \>" }}</span>
            </div>
        </div>

        <div class="text-center" style='margin-top: 4%;'>
            <button type="button" onclick="submit_password('{% url 'accounts:reset_password' %}');" class="btn btn-primary btn-metro" id='id_reset_password'>Resetar</button>
            <button aria-hidden="true" data-dismiss="modal" class="btn btn-danger" type="button">Fechar</button>
        </div>

    </form>
</div>