{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Payments</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet'>
        <!-- ICONS -->
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicon.png' %}">

        <!-- VENDOR CSS -->
        <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/linearicons/style.css' %}">
        <!-- MAIN CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
        <!-- CUSTOM CSS -->
        <link rel="stylesheet" href="{% static 'css/custom_styles.css' %}">

    </head>
    <body class='layout-fullwidth'>
<div class="container-fluid">
    <div class="row" id="confirm-reset-password">
        <div class='col-md-5 col-md-offset-3'>
            <h2> Resetar Senha</h2>
            <form role="form" method='post' class="form-bordered">
                {% csrf_token %}

                <div class='row'>
                <div class='col-md-11'>
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <strong>Error: </strong>
                        {% for field, error in form.errors.items %}
                            {% if field != '__all__' %}{{ field }}{% endif %}
                            {{ error | striptags }}<br />
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
                </div>
                        <div class='row'>
                        <div class="form-group {% if form.new_password1.errors %}has-error{% endif %}">
                          <label class="col-sm-2 control-label" for="id_new_password1">* Nova Senha:</label>
                          <div class="col-sm-10">
                            <input class="form-control" id="id_new_password1" name="new_password1" type="password"placeholder="Nova Senha">
                            <span class="error text-danger">{{ form.new_password1.errors|join:"<br \>" }}</span>
                          </div>
                        </div>
                        </div>

                        <div class='row'>
                        <div class="form-group {% if form.new_password2.errors %}has-error{% endif %}">
                          <label class="col-sm-2 control-label" for="id_new_password2">* Verificar senha:</label>
                          <div class="col-sm-10">
                            <input class="form-control" id="id_new_password2" name="new_password2" type="password"placeholder="Verificar Senha">
                            <span class="error text-danger">{{ form.new_password2.errors|join:"<br \>" }}</span>
                          </div>
                        </div>
                        </div>

                <div class='row'>
                <div class="text-center">
                  <div class="col-md-8" style="margin-top:2%;">
                    <button type="submit" class="btn btn-primary btn-metro">Editar</button>
                    <a class="btn btn-danger" href="{% url 'accounts:login' %}">Fechar</a>
                  </div>
                </div>
                </div>
            </form><!--form-->
        </div>
    </div>

</div>
<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/scripts/klorofil-common.js' %}"></script>
</body>
</html>