{% load staticfiles %}
{% load formtags %}

<!DOCTYPE html>
<html>
	<head>
		<title>Payments</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet'>
        <!-- ICONS -->
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'klorofil-free-dashboard-template-v2.0/template/assets/img/apple-icon.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'klorofil-free-dashboard-template-v2.0/template/assets/img/favicon.png' %}">
        <!-- VENDOR CSS -->
        <link rel="stylesheet" href="{% static 'klorofil-free-dashboard-template-v2.0/template/assets/vendor/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'klorofil-free-dashboard-template-v2.0/template/assets/vendor/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'klorofil-free-dashboard-template-v2.0/template/assets/vendor/linearicons/style.css' %}">
        <!-- MAIN CSS -->
        <link rel="stylesheet" href="{% static 'klorofil-free-dashboard-template-v2.0/template/assets/css/main.css' %}">
        <!-- CUSTOM CSS -->
        <link rel="stylesheet" href="{% static 'css/custom_styles.css' %}">
        {% block extra_extyles %}
        	<style type="text/css">
        		body{
        			font-size: 15px;
        		}
        		h1{
        			font-size: 50px;
        			color: white;
        			margin-left:20px;
        		}
        		p{
        			color: white;
        			font-size: 20px;
        		}
        		.input-group{
        			margin-bottom:10px;
        		}
        	</style>
        {% endblock %}
	</head>
	<body background="{% static 'img/light.jpg' %}">
			<h1>Criar Conta</h1>
			<form name='create_user' method='POST'>
			{% csrf_token %}
			<div class='row' style='margin-top:60px;'>

				<div class='col-md-3 col-md-offset-3'>

					<div class='input-group {% if form_account.cpf.errors %}has-error{% endif %}'>
						<div class='input-group-addon'>
							<i class='fa fa-user fa-fw'></i>
						</div>
						{{ form_account.cpf|placeholder:"Cpf" |addcss:"form-control" }}
					</div>
					<span class="error text-danger">{{ form_account.cpf.errors|join:"<br \>" }}</span>

					<div class='input-group {% if form_profile.first_name.errors %}has-error{% endif %}'>
						<div class='input-group-addon'>
							<i class='fa fa-id-card fa-fw'></i>
						</div>
						{{ form_profile.first_name|placeholder:"Nome" |addcss:"form-control" }}
					</div>
					<span class="error text-danger">{{ form_profile.first_name.errors|join:"<br \>" }}</span>

					<div class='input-group {% if form_profile.last_name.errors %}has-error{% endif %}'>
						<div class='input-group-addon'>
							<i class='fa fa-id-card fa-fw'></i>
						</div>
						{{ form_profile.last_name|placeholder:"Sobrenome" |addcss:"form-control" }}
					</div>
					<span class="error text-danger">{{ form_profile.last_name.errors|join:"<br \>" }}</span>

					<div class='input-group {% if form_profile.birthday.errors %}has-error{% endif %}'>
						<div class='input-group-addon'>
							<i class='fa fa-birthday-cake fa-fw'></i>
						</div>
						{{ form_profile.birthday|addcss:"form-control" }}
					</div>
					<span class="error text-danger">{{ form_profile.birthday.errors|join:"<br \>" }}</span>

					<div class='input-group {% if form_user.email.errors %}has-error{% endif %}'>
						<div class='input-group-addon'>
							<i class='fa fa-envelope fa-fw'></i>
						</div>
						{{ form_user.email|addcss:"form-control" }}
					</div>
					<span class="error text-danger">{{ form_user.email.errors|join:"<br \>" }}</span>

				</div><!-- col-md-4 -->

				<div class='col-md-3'>

					<div class='input-group {% if form_profile.state.errors %}has-error{% endif %}'>
						<div class='input-group-addon'>
							<i class='fa fa-map-marker fa-fw'></i>
						</div>
						{{ form_profile.state|addcss:"form-control" }}
					</div>
					<span class="error text-danger">{{ form_profile.state.errors|join:"<br \>" }}</span>

					<div class='input-group {% if form_profile.url.errors %}has-error{% endif %}'>
						<div class='input-group-addon'>
							<i class='fa fa-bookmark fa-fw'></i>
						</div>
						{{ form_profile.url|placeholder:"Site / Rede Social" |addcss:"form-control" }}
					</div>
					<span class="error text-danger">{{ form_profile.url.errors|join:"<br \>" }}</span>

					<div class='input-group {% if form_user.password1.errors %}has-error{% endif %}'>
						<div class='input-group-addon'>
							<i class='fa fa-key fa-fw'></i>
						</div>
						{{ form_user.password1|placeholder:"password" |addcss:"form-control" }}
					</div>
					<span class="error text-danger">{{ form_user.password1.errors|join:"<br \>" }}</span>

					<div class='input-group {% if form_user.password2.errors %}has-error{% endif %}'>
						<div class='input-group-addon'>
							<i class='fa fa-lock fa-fw'></i>
						</div>
						{{ form_user.password2|placeholder:"Repeat password" |addcss:"form-control" }}
					</div>
					<span class="error text-danger">{{ form_user.password2.errors|join:"<br \>" }}</span>

				</div><!-- col-md-4 -->

			</div><!-- row -->


			<div class="text-center" style='margin-top:20px;'>
				<button class='btn btn-danger btn-lg' type='submit' name='save_profile' id='save_profile'>
				Criar Conta
				</button>
			</div>

			</form>

    <script src="{% static 'klorofil-free-dashboard-template-v2.0/template/assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'klorofil-free-dashboard-template-v2.0/template/assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/libs/moment.min.js' %}"></script>
	<script src="{% static 'js/libs/daterangepicker.js' %}"></script>

	<script type="text/javascript">

	//GET CONFIG DATAPICKER
	function get_config_datapicker(list_dict){
		context = {
		 "ranges": {
			'Today': [moment(), moment()],
			'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
			'Last 7 Days': [moment().subtract(6, 'days'), moment()],
			'Last 30 Days': [moment().subtract(29, 'days'), moment()],
			'This Month': [moment().startOf('month'), moment().endOf('month')],
			'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
		},
		 "linkedCalendars": false,
		 "opens": "right",
		}

		$.each(list_dict, function(key, value) {
			$.extend(context, value);
		});
		return context;
	}

	//GET LOCALE
	function get_locale(format_date){
		locale = {
			"locale": {
		    "separator": " - ",
		    "applyLabel": "Apply",
		    "cancelLabel": "Cancel",
		    "fromLabel": "From",
		    "toLabel": "To",
		    "customRangeLabel": "Custom",
		    "weekLabel": "W",
		    "daysOfWeek": ["Su","Mo","Tu","We","Th","Fr","Sa"],
		    "monthNames": ["January","February","March","April","May","June","July",
		    			   "August","September","October","November","December"],
		    "firstDay": 1
			},
		}
		if(format_date){
			$.extend(locale["locale"], format_date);
		}
		return locale;
	}

	$(function(){
		//CHECK EXIST NOTE
		if($('#id_birthday')){
			list_dict = [];
			list_dict.push({"singleDatePicker": true,"timePicker": false});
			list_dict.push(get_locale({"format": "DD/MM/YYYY"}));
			$('input[name="birthday"]').daterangepicker(get_config_datapicker(list_dict));
		}
	});

	</script>

	</body>
</html>