{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

	<div class="container-fluid">
		<ol class="breadcrumb">
			<li><a href="{% url 'main:home' %}"><i class="fa fa-home fa-fw"></i> Inicio</a></li>
			<li><i class="fa fa-address-book fa-fw"></i> Contas</li>
		</ol>

		<!-- ROW LIST ACCOUNTS -->
		<div class="row" id="list_accounts">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">Contas</h3>
						<div class='right'>
							<ul class="list-inline">
								<li>
									<form class="form-inline" method="get">
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-tags" aria-hidden="true"></i>
											</div>
											<select class="form-control" name="order">
												<option {% if request.GET.order == 'all' %}selected{% endif %} value="all">all</option>
												<option {% if request.GET.order == '0' %}selected{% endif %} value="0">super</option>
												<option {% if request.GET.order == '1' %}selected{% endif %} value="1">user</option>
											</select>
										</div>
										<button type="submit"><i class='lnr lnr-magnifier'></i></button>
									</form>
								</li>
								<li><a href="{% url 'accounts:create_account' %}"><i style="font-size:15px;" class='lnr lnr-plus-circle'></i></a></li>
							</ul>
						</div>
					</div>

					<div class="panel-body">

						{% include "messages.html" %}

						{% if not object_list %}
							<h3>Nao existem contas cadastradas</h3>
						{% else %}
							<div class="table-responsive">
								<table class="table table-striped mb30">
									<thead>
										<tr>
										<th>#</th>
										<th>Nome</th>
										<th>E-mail</th>
										<th>Tipo</th>
										<th>Documento</th>
										<th>Status</th>
										<th></th>
										</tr>
									</thead>
									<tbody>
										{% for account in object_list %}
											<tr>
												<td>{{ account.pk }}</td>
												<td>{{ account.first_name }} {{ account.last_name }}</td>
												<td>{{ account.user.email }}</td>
												<td>{{ account.get_order_display }}</td>
												<td>{{ account.user.account.cpf }}</td>
												<td>
													{% if account.user.is_active %}
														<i style='color:green;' class='fa fa-check-circle'></i>
													{% else %}
														<i style='color:red;' class='fa fa-check-circle'></i>
													{% endif %}
												</td>
												<td>
													<a href='{{ account.active_account }}' class='btn btn-success btn-sm{% if account.user.account.status_payment %} disabled{% endif %}'>
														active
													</a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>

							<nav><!--nav-->
								<ul class="pagination pagination-centered" style='margin: 5px 0 7px;'><!--ul pagination pagination-centered -->
									<li>
										<a class='{% if page_obj.has_previous %}btn{% else %} btn disabled{% endif %}' href="?page=1{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}" title=""><<</a>
									</li>

									<li>
										<a class='{% if page_obj.has_previous %}btn{% else %} btn disabled {% endif %}' href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}" title=""><</a>
									</li>

									<li>
										<a class='{% if page_obj.has_next %}btn{% else %} btn disabled{% endif %}' href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}" title="">></a>
									</li>

									<li>
										<a class='{% if page_obj.has_next %}btn{% else %}btn disabled{% endif %}' href="?page={{paginator.num_pages}}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}" title="">>></a>
									</li>
								</ul><!--ul pagination pagination-centered -->
							</nav><!--nav-->
							<small>{{ page_obj.number }} de {{paginator.num_pages}}</small>
						{% endif %}
					</div>
				</div>
			</div>

		</div><!-- END ROW LIST ACCOUNT -->
	</div><!-- END CONTAINER-FLUID -->
{% endblock %}