{% load staticfiles %}
{% load formtags %}

<div id='form-recovery-password'>
    <h4 class='text-center' style='margin-top:0px;'>Informe seu E-mail</h4>
    <form class="form-bordered" method="post" id='myform'>
        {% csrf_token %}

        {% if form.errors %}
            <div class="alert alert-danger">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <strong>Error: </strong>
                {% for field, error in form.errors.items %}
                    {% if field != '__all__' %}{{ field }}{% endif %}
                    {{ error | striptags }}<br />
                {% endfor %}
            </div>
        {% endif %}

        <div class='row'>
            <div class='col-md-12'>
            <div class='input-group {% if form.email.errors %}has-error{% endif %}'>
                <div class='input-group-addon'>
                    <i class='fa fa-envelope fa-fw'></i>
                </div>
                {{ form.email|placeholder:"e-mail@e-mail.com" |addcss:"form-control" }}
            </div>
            <span class="error text-danger">{{ form.email.errors|join:"<br \>" }}</span>
            </div>
        </div>

        <div class="text-center" style='margin-top: 4%;'>
            <button type="button" onclick="submit_password('{% url 'accounts:reset_password' %}');" class="btn btn-primary btn-metro" id='send'>Reset</button>
            <button aria-hidden="true" data-dismiss="modal" class="btn btn-danger" type="button">Close</button>
        </div>

    </form>
</div>