{% extends 'base.html' %}
{% load staticfiles %}
{% load formtags %}

{% block extra_styles %}
	<style type="text/css">
		/****** PROFILE *******/

		/* ####### */
		#deposit ol, ul {
		margin-top: 0;
		margin-bottom: 20px;
		}
		/* ####### */

		/* ####### */
		#deposit .todo-list > li p {
		display: inline-block;
		vertical-align: middle;
		width: 90%;
		margin: 0;
		padding: 5px 0 5px 40px;
		}
		/* ####### */

		/* ####### */
		#deposit .todo-list .controls {
		float: right;
		position: absolute;
		top: 50%;
		right: 3px;
		margin-top: -11px;
		}
		/* ####### */

		/* ####### */
		#deposit .todo-list > li:first-child {
		border-top: 1px solid #F0F0F0;
		}
		/* ####### */

		/* ####### */
		#deposit .todo-list .short-description {
		display: block;
		margin-top: 0px;
		}
		/* ####### */

		/* ####### */
		.todo-list > li.completed .controls{
		pointer-events: none;
		cursor: default;
		opacity: 0.4;
		}
		/* ####### */

		/* ####### */
		.navbar-btn button {
		font-size: 24px;
		padding: 4px 5px;
		line-height: .7;
		border: none;
		background: none;
		outline: none;
		}
		/* ####### */

		/* ####### */
		.profile-info {
		padding: -1 100px;
		margin: 0px 0;
		}
		/* ####### */

		/* ####### */
		.social-icons {
		margin-bottom: 20px;
		}
		/* ####### */

		/* ####### */
		.text-center {
		text-align: center;
		margin-top: 35px;
		}
		/* ####### */

		/* ####### */
		.instagram {
		background-color: #000 !important;
		}
		/* ####### */

		/* ####### */
		.instagram a{
		color: #000 !important;
		}
		/* ####### */
		/*** END deposit ***/
	</style>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<ol class="breadcrumb">
			<li><a href="{% url 'main:home' %}"><i class="fa fa-home fa-fw"></i> Home</a></li>
			<li class="active"><i class="fa fa-id-card fa-fw"></i> Wallet</li>
			<li class="active"><i class="fa fa-line-chart fa-fw"></i> Remove Deposit</li>
		</ol>
		<!-- deposit -->
		<div class="row" id="deposit">
			<div class="col-md-12">
				<!-- TODO LIST -->
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">Remove Deposit</h3>
						<div class='right'>
							<ul class="list-inline">
								<li><a href="{% url 'wallet:list_deposit' %}"><i style="font-size:15px;" class='lnr lnr-cross'></i></a></li>
							</ul>
						</div>
					</div>
					<div class="panel-body">
						<div class='col-md-8 col-md-offset-2'>
							<div class="profile-detail">
								<div class="profile-info">
									<ul class="list-unstyled list-justify">
										<li><i class='fa fa-exchange fa-fw'></i> Origin <span>{{ object.origin }}</span></li>
										<li><i class='fa fa-moRney fa-fw'></i> Value <span>{{ object.value }}</span></li>
										<li><i class='fa fa-map-marker fa-fw'></i> Document <span>{{ object.document }}</span></li>
										<li><i class='fa fa-calendar fa-fw'></i> Date <span>{{ object.created_at | date:"d/m/Y"  }}</span></li>
										<li><i class='fa fa-user-o fa-fw'></i> Author <span>{{ object.author }}</span></li>
										<li><i class='fa fa-pencil fa-fw'></i> Description <span>{{ object.description }}</span></li>
									</ul>
								</div>
								<div class="text-center">
								  <form action="{{ object.get_delete_deposit }}" method="post" class='form-inline'>
								    {% csrf_token %}
								    <div class='row'><!--row-->

								        <div class="form-group">
								          <input type="submit" class='btn btn-danger' value="Yes"/>
								        </div>
								        <div class="form-group">
								          <a class='btn btn-primary' href="{% url 'wallet:list_deposit' %}">No</a>
								        </div>


								    </div>
								  </form>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- END TODO LIST -->
			</div>
		</div>
		<!-- END PROFILE -->
	</div>
{% endblock %}