{% load staticfiles %}
{% load formtags %}

{% if not objects %}
    <h3>Não existem lançamentos de depósitos cadastrados</h3>
{% else %}
    <div class="table-responsive">
        <table class="table table-striped mb30">
            <thead>
                <tr>
                <th></th>
                <th>#</th>
                <th>Origem</th>
                <th>Valor</th>
                <th>Data</th>
                <th>Autor</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                {% for deposit in objects %}
                    <tr>
                        <td class='clean-td'><i style='color:#5cb85c;' class='fa fa-plus'></i></td>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ deposit.origin }}</td>
                        <td>R$ {{ deposit.value|decimal_to_real }}</td>
                        <td>{{ deposit.date_releases | date:"d/m/Y H:i" }}</td>
                        <td>{{ deposit.author }}</td>
                        <td class="actions">
                            <a class="edit-deposit" id='{{ deposit.pk }}' data-toggle="modal" data-target=".bs-example-modal-static" href='#'><i class="lnr lnr-pencil"></i></a>
                            <a class="delete-deposit" id="{{ deposit.pk }}" href="#"><i class="lnr lnr-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}