{% extends 'base.html' %}
{% load static %}
{% load formtags %}

{% block extra_styles %}
	<link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<ol class="breadcrumb">
			<li><a href="{% url 'main:home' %}"><i class="fa fa-home fa-fw"></i> Inicio</a></li>
			<li class='active'><i class="fa fa-line-chart fa-fw"></i> Depósitos</li>
		</ol>
		<!-- ROW LIST DEPOSITS -->
		<div class="row" id="list_deposit">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">Depósitos</h3>
						<div class='right'>
							<ul class="list-inline">
								<li>
									<form class="form-inline" method="GET">
										<label class="sr-only" for="date">Data</label>
											<div class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</div>
												<input type="text" class="form-control" name='date' id="date" placeholder="01/02/2017" value="{% if request.GET.date %}{{ request.GET.date }}{% endif %}">
											</div>
											<button type="submit"><i class='lnr lnr-magnifier'></i></button>
									</form>
								</li>
								<li><a href='{% url "wallet:add_deposit" %}'><i class='lnr lnr-plus-circle'></i></a></li>
							</ul>
						</div>
					</div>

					<div class="panel-body">
					{% include "messages.html" %}

					{% if not object_list %}
						<div class='empty-object'>
							<center>
								<h3>Não existem lançamentos de depósitos cadastrados</h3>
							</center>
						</div>
					{% else %}
						<div class="table-responsive">
							<table class="table table-striped mb30">
								<thead>
									<tr>
										<th></th>
										<th>#</th>
										<th>Origem</th>
										<th>Valor</th>
										<th>Data</th>
										<th>Documento</th>
										<th>Autor</th>
										<th>Descrição</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for deposit in object_list %}
										<tr>
											<td class='clean-td'><i style='color:#5cb85c;' class='fa fa-plus'></i></td>
											<td style="width:16px;">{{ forloop.counter }}</td>
											<td style="width:240px;padding: 0px 10px 0px 0px;">{{ deposit.origin }}</td>
											<td style="width:120px;">R$ {{ deposit.value|decimal_to_real }}</td>
											<td style="width:140px;">{{ deposit.date_releases | date:"d/m/Y H:i" }}</td>
											<td style="width:100px;">{{ deposit.document }}</td>
											<td style="width:120px;">{{ deposit.author }}</td>
											<td style="width:235px;">{{ deposit.description }}</td>
											<td style="width:60px;" class="actions">
												<a href="{{ deposit.get_absolute_url }}"><i class="lnr lnr-pencil"></i></a>
												<a href="{{ deposit.get_delete_deposit }}"><i class="lnr lnr-trash"></i></a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>

						<nav><!--nav-->
							<ul class="pagination pagination-centered" style='margin: 5px 0 7px;'><!--ul pagination pagination-centered -->
								<li>
									<a class='{% if page_obj.has_previous %}btn{% else %} btn disabled{% endif %}' href="?page=1" title=""><<</a>
								</li>

								<li>
									<a class='{% if page_obj.has_previous %}btn{% else %} btn disabled {% endif %}' href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}" title=""><</a>
								</li>

								<li>
									<a class='{% if page_obj.has_next %}btn{% else %} btn disabled{% endif %}' href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}" title="">></a>
								</li>

								<li>
									<a class='{% if page_obj.has_next %}btn{% else %}btn disabled{% endif %}' href="?page={{paginator.num_pages}}" title="">>></a>
								</li>
							</ul><!--ul pagination pagination-centered -->
						</nav><!--nav-->
						<small>{{ page_obj.number }} de {{paginator.num_pages}}</small>
					{% endif %}
					</div>
				</div>
			</div>
		</div>
		<!-- END ROW LIST DEPOSITS -->
	</div>
{% endblock %}
{% block extra_scripts %}
	<script src="{% static 'js/libs/moment.min.js' %}"></script>
	<script src="{% static 'js/libs/daterangepicker.js' %}"></script>
	<script src="{% static 'js/wallet.js' %}"></script>
{% endblock %}