{% extends 'base.html' %}
{% load staticfiles %}
{% load formtags %}

{% block extra_styles %}
	<link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<ol class="breadcrumb">
			<li><a href="{% url 'main:home' %}"><i class="fa fa-home fa-fw"></i> Inicio</a></li>
			<li><a href="{% url 'wallet:list_deposit' %}"><i class="fa fa-line-chart fa-fw"></i> Depósitos</a></li>
			<li class="active"><i class="fa fa-edit fa-fw"></i> Editar Depósito</li>
		</ol>

		<!-- ROW UPDATE DEPOSIT -->
		<div class="row" id="update_deposit">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">Editar Depósito</h3>
						<div class='right'>
							<ul class="list-inline">
								<li><a href='{% url "wallet:list_deposit" %}'><i class='lnr lnr-cross'></i></a></li>
							</ul>
						</div>
					</div>

					<div class="panel-body">

						{% include "messages.html" %}

						<div class='col-md-12'>
							<div class="profile-detail">

								<form name='update_deposit' method='POST'>
								{% csrf_token %}
									<div class='row'>
										<div class='col-md-4 col-md-offset-2'>
											<div class='input-group {% if form.origin.errors %}has-error{% endif %}'>
												<div class='input-group-addon'>
													<i class='fa fa-exchange fa-fw'></i>
												</div>
												{{ form.origin|placeholder:"Origem" |addcss:"form-control" }}
											</div>
											<span class="error text-danger">{{ form.origin.errors|join:"<br \>" }}</span>

											<div class='input-group {% if form.value.errors %}has-error{% endif %}'>
												<div class='input-group-addon'>
													<i class='fa fa-money fa-fw'></i>
												</div>
												{{ form.value|placeholder:"Valor" |addcss:"form-control" }}
											</div>
											<span class="error text-danger">{{ form.value.errors|join:"<br \>" }}</span>

											<div class='input-group {% if form.document.errors %}has-error{% endif %}'>
												<div class='input-group-addon'>
													<i class='fa fa-file-zip-o fa-fw'></i>
												</div>
												{{ form.document|placeholder:"Documento" |addcss:"form-control" }}
											</div>
											<span class="error text-danger">{{ form.document.errors|join:"<br \>" }}</span>

											<div class='input-group {% if form.date_releases.errors %}has-error{% endif %}'>
												<div class='input-group-addon'>
													<i class='fa fa-calendar fa-fw'></i>
												</div>
												{{ form.date_releases|placeholder:"dd/mm/yyyy H:i" |addcss:"form-control" }}
											</div>
											<span class="error text-danger">{{ form.date_releases.errors|join:"<br \>" }}</span>
										</div><!-- col-md-4 -->

										<div class='col-md-4'>
											<div class='input-group {% if form.description.errors %}has-error{% endif %}'>
												<div class='input-group-addon'>
													<i class='fa fa-pencil fa-fw'></i>
												</div>
												{{ form.description|placeholder:"Descrição do déposito" |textarea:"6" |addcss:"form-control" }}
											</div>
											<span class="error text-danger">{{ form.description.errors|join:"<br \>" }}</span>
										</div><!-- col-md-4 -->

									</div><!-- row -->

									<div class="text-center">
										<button class='btn btn-primary' type='submit' name='update_deposit' id='id_update_deposit'>
										Editar
										</button>

										<a class='btn btn-danger' href="{% url 'wallet:list_deposit' %}" name='close_update_deposit' id='id_close_update_deposit'>
										Fechar
										</a>
									</div>
								</form>

							</div>
						</div>

					</div>
				</div>
			</div>

		</div><!-- END ROW UPDATE DEPOSIT -->
	</div><!-- END CONTAINER-FLUID -->
{% endblock %}

{% block extra_scripts %}
	<script src="{% static 'js/libs/moment.min.js' %}"></script>
	<script src="{% static 'js/libs/daterangepicker.js' %}"></script>
	<script src="{% static 'js/wallet.js' %}"></script>
{% endblock %}