  <h5 class="leftpanel-title">Menu</h5>
  <ul class="nav nav-pills nav-stacked">
    <li class="{% if label_app == 'Home' %}active parent {% endif %}"><a href="{% url 'main:home' %}"><i class="fa fa-home"></i> <span>Início</span></a></li>
    {% for app in apps %}
      <li class="{% if app.name == label_app %}active parent {% else %} parent{% endif %}"><a href="#"><i class="{% if app.name == 'Main' %}fa fa-chain{% elif app.name == 'Aplications' %}fa fa-phone{% elif app.name == 'Sales' %}fa fa-suitcase{% elif app.name == 'Accounts' %}fa fa-group{% endif %}"></i> <span>{% if app.name == 'Main' %}Troncos{% elif app.name == 'Aplications' %}Ramais{% elif app.name == 'Sales' %}Vendas{% elif app.name == 'Accounts' %}Clientes{% endif %}</span></a>
      <ul class="children">
      {% for model in app.models %}
          <li class="{% if model.name == object_name %}active{% endif %}"><a href="/{{ model.admin_url }}">{{ model.name }}</a></li>
      {% endfor %}
      </ul>
      </li>
    {% endfor %}
  </ul>