{% extends 'base.html' %}
{% load static %}
{% load formtags %}

{% block extra_styles %}
	<link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<ol class="breadcrumb">
			<li><a href="{% url 'main:home' %}"><i class="fa fa-home fa-fw"></i> Inicio</a></li>
			<li><a href="{% url 'wallet:list_note' %}"><i class="fa fa-tags fa-fw"></i> Notas</a></li>
			<li class='active'><i class="fa fa-plus fa-fw"></i> Nova Nota</li>
		</ol>

		<div class="row" id="add_note">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">Nova Nota</h3>
						<div class='right'>
							<ul class="list-inline">
								<li><a href='{% url "wallet:list_note" %}'><i style="font-size:15px;" class='lnr lnr-cross'></i></a></li>
							</ul>
						</div>
					</div>

					<div class="panel-body">
						{% include 'messages.html' %}

						<div class='col-md-12'>
							<div class="profile-detail">

								<form method='post' name='new_note'>
								{% csrf_token %}
									<div class='row'>
										<div class="form-group col-sm-3 {% if form.title.errors %}has-error{% endif %}">
											<label for="id_title">Título:</label>
											{{ form.title|placeholder:"Título" |addcss:"form-control" }}
											<span class="error text-danger">{{ form.title.errors|join:"<br \>" }}</span>
										</div><!-- END ROW -->

										<ul class="list-inline ul_note_create">
											<li>
												<div class="form-group {% if form.status_alert.errors %}has-error{% endif %}">
													<label for="id_status_alert">Alerta:</label>
													<label class="switch">
														{{ form.status_alert|addcss:"form-control" }}
														<div class="slider round"></div>
													</label>
													<small class="text-muted">desligado/ligado</small>
												</div>
											</li>
										</ul>
									</div><!-- END ROW -->

									<div class='row'>
										<div class="form-group col-sm-3 {% if form.date_note.errors %}has-error{% endif %}">
											<label for="id_date_note">Data da Nota:</label>
											{{ form.date_note|placeholder:"dd/mm/yyyy H:i" |addcss:"form-control" }}
										</div>
									</div><!-- END ROW -->

									<div class='row'>
										<div class="form-group col-sm-6 {% if form.description.errors %}has-error{% endif %}">
											<label for="id_description">Nota:</label>
											{{ form.description|placeholder:"Descrição" |textarea:"5" |addcss:"form-control" }}
											<span class="error text-danger">{{ form.description.errors|join:"<br \>" }}</span>
										</div>
									</div><!-- END ROW -->

									<div class='row'>
										<div class="form-group col-sm-6">
											<button class='btn btn-primary' type="submit" name='add_note' id='id_add_note'>
											Salvar
											</button>

											<a class='btn btn-danger' href="{% url 'wallet:list_note' %}" name='close_add_note' id='id_close_note'>
											Fechar
											</a>
										</div>
									</div><!-- END ROW -->

								</form>

							</div>
						</div>
					</div>
				</div><!--END PANEL-->
			</div><!--END COL-MD-12-->
		</div><!-- END ROW -->
	</div><!-- END CONTAINER-FLUID -->
{% endblock %}

{% block extra_scripts %}
	<script src="{% static 'js/libs/moment.min.js' %}"></script>
	<script src="{% static 'js/libs/daterangepicker.js' %}"></script>
	<script src="{% static 'js/wallet.js' %}"></script>
{% endblock %}