{% extends 'base.html' %}
{% load staticfiles %}
{% load formtags %}

{% block extra_styles %}
	<style type="text/css">
		/****** PROFILE *******/

		/* ####### */
		#note ol, ul {
		margin-top: 0;
		margin-bottom: 20px;
		}
		/* ####### */

		/* ####### */
		#note .todo-list > li p {
		display: inline-block;
		vertical-align: middle;
		width: 90%;
		margin: 0;
		padding: 5px 0 5px 40px;
		}
		/* ####### */

		/* ####### */
		#note .todo-list .controls {
		float: right;
		position: absolute;
		top: 50%;
		right: 3px;
		margin-top: -11px;
		}
		/* ####### */

		/* ####### */
		#note .todo-list > li:first-child {
		border-top: 1px solid #F0F0F0;
		}
		/* ####### */

		/* ####### */
		#note .todo-list .short-description {
		display: block;
		margin-top: 0px;
		}
		/* ####### */

		/* ####### */
		.todo-list > li.completed .controls{
		pointer-events: none;
		cursor: default;
		opacity: 0.4;
		}
		/* ####### */

		/* ####### */
		.navbar-btn button {
		font-size: 24px;
		padding: 4px 5px;
		line-height: .7;
		border: none;
		background: none;
		outline: none;
		}
		/* ####### */

		/* ####### */
		.profile-info {
		padding: -1 100px;
		margin: 0px 0;
		}
		/* ####### */

		/* ####### */
		.social-icons {
		margin-bottom: 20px;
		}
		/* ####### */

		/* ####### */
		.text-center {
		text-align: center;
		margin-top: 35px;
		}
		/* ####### */

		/* ####### */
		.instagram {
		background-color: #000 !important;
		}
		/* ####### */

		/* ####### */
		.instagram a{
		color: #000 !important;
		}
		/* ####### */
		/*** END note ***/
	</style>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<ol class="breadcrumb">
			<li><a href="{% url 'main:home' %}"><i class="fa fa-home fa-fw"></i> Inicio</a></li>
			<li><a href="{% url 'wallet:list_note' %}"><i class="fa fa-tags fa-fw"></i> Notas</a></li>
			<li class='active'><i class="fa fa-pencil fa-fw"></i> Detalhar Notas</li>
		</ol>
		<!-- note -->
		<div class="row" id="note">
			<div class="col-md-12">
				<!-- TODO LIST -->
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">Detalhar Notas</h3>
						<div class='right'>
							<ul class="list-inline">
								<li><a href="{% url 'wallet:list_note' %}"><i style="font-size:15px;" class='lnr lnr-cross'></i></a></li>
							</ul>
						</div>
					</div>
					<div class="panel-body">

						{% if messages %}
							{% for message in messages %}
								<div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible"{% endif %} role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<strong>{{ message.tags }}:</strong> {{ message }}.
								</div>
							{% endfor %}
						{% endif %}

						<div class='col-md-8 col-md-offset-2'>
							<div class="profile-detail">
								<div class="profile-info">
									<ul class="list-unstyled list-justify">
										<li><i class='fa fa-pencil fa-fw'></i> Título <span>{{ object.title }}</span></li>
										<li><i class='fa fa-user fa-fw'></i> Autor <span>{{ object.author }}</span></li>
										<li><i class='fa fa-calendar fa-fw'></i> Data <span>{{ object.date_note | date:"d/m/Y H:m" }}</span></li>
										<li><i class='fa fa-edit fa-fw'></i> Nota <span>{{ object.description }}</span></li>
									</ul>
								</div>
								<div class="text-center">
									<a class='btn btn-primary' href="{{ object.get_update_url }}" name='edit_note' id='edit_note'>
									Editar
									</a>

									<a class='btn btn-danger' href="{% url 'wallet:list_note' %}" name='close_note' id='close_note'>
									Fechar
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- END TODO LIST -->
			</div>
		</div>
		<!-- END PROFILE -->
	</div>
{% endblock %}