{% load staticfiles %}
<div class="row">
    <div class="col-md-12">
        {% include "messages.html" %}
    </div>
</div>
{% if not object_list %}
    <h3>Não existem notas cadastradas</h3>
{% else %}
    <ul class="list-unstyled todo-list">
        {% for note in object_list %}
            <li class='{% if not note.status_note %}completed{% endif %}'>
                <label id='note-list-input' class="control-inline fancy-checkbox">
                    <input id='{{ note.pk }}' type="checkbox" {% if not note.status_note %}checked{% endif %}><span></span>
                </label>
                <p>
                    <span class="title">{{ note.title }}</span>
                    <span class="label label-primary"><i class='fa fa-edit'></i></span>
                    {% if note.status_alert %}
                        <span class="label label-success"><i class='fa fa-warning'></i></span>
                    {% endif %}
                    <span class="short-description">{{ note.description }}</span>
                    <span class="date">{{ note.date_note | date:"d/m/Y H:i" }}</span>
                </p>

                <div class="delete-context opens-delete">
                </div>

                <div class="controls">
                    <a class="edit-note" id='{{ note.pk }}' data-toggle="modal" data-target=".bs-example-modal-static" href='#'><i class="lnr lnr-pencil"></i></a>

                    <a class="delete-note" id='{{ note.pk }}' href='#'>
                        <i class="lnr lnr-trash"></i>
                    </a>
                    <!--<a class="delete-note" id='{{ note.pk }}' data-toggle="modal" data-target=".bs-example-modal-static" href='#'><i class="lnr lnr-trash"></i></a>-->
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}