{% extends 'base.html' %}
{% load staticfiles %}
{% load formtags %}

{% block extra_styles %}
	<link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<ol class="breadcrumb">
			<li><a href="{% url 'main:home' %}"><i class="fa fa-home fa-fw"></i> Inicio</a></li>
			<li class='active'><i class="fa fa-tags fa-fw"></i> Notas</li>
		</ol>
		<!-- ROW LIST NOTE -->
		<div class="row" id="list_note">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">Notas</h3>
						<div class='right'>
							<form class="form-inline" method="get">
								<label class="sr-only" for="id_status_note">status_alert</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-tags" aria-hidden="true"></i>
									</div>
									<select class="form-control" name="status_alert" id="id_status_alert">
										<option {% if request.GET.status_alert == 'all' %}selected{% endif %} value="all">todos</option>
										<option {% if request.GET.status_alert == 'True' %}selected{% endif %} value="True">alerta</option>
										<option {% if request.GET.status_alert == 'False' %}selected{% endif %} value="False">notas</option>
									</select>
								</div>

								<label class="sr-only" for="id_status_note">status_note</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-tags" aria-hidden="true"></i>
									</div>
									<select class="form-control" name="status_note" id="id_status_note">
										<option {% if request.GET.status_note == 'all' %}selected{% endif %} value="all">todos</option>
										<option {% if request.GET.status_note == 'True' %}selected{% endif %} value="True">abertas</option>
										<option {% if request.GET.status_note == 'False' %}selected{% endif %} value="False">fechadas</option>
									</select>
								</div>

								<label class="sr-only" for="date">Data</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input type="text" class="form-control" name='date' id="date" placeholder="dd/mm/yyyy" value="{% if request.GET.date %}{{ request.GET.date }}{% endif %}">
								</div>

								<button type="submit"><i class='lnr lnr-magnifier'></i></button>

								<a href='{% url "wallet:add_note" %}'><i style="font-size:15px;" class='lnr lnr-plus-circle'></i></a>
							</form>
						</div>
					</div>

					<div class="panel-body">
						{% include "messages.html" %}

						{% if not object_list %}
							<div class='empty-object'>
								<center>
									<h3>Não existem lançamentos de depósitos cadastrados</h3>
								</center>
							</div>
						{% else %}
							<ul class="list-unstyled todo-list">
								{% for note in object_list %}
									<li class='{% if not note.status_note %}completed{% endif %}'>
										<label id='note-list-input' class="control-inline fancy-checkbox">
											<input id='{{ note.pk }}' type="checkbox" {% if not note.status_note %}checked{% endif %}><span></span>
										</label>
										<p>
											<span class="title">{{ note.title }}</span>
											<span class="label label-primary"><i class='fa fa-edit'></i></span>
											{% if note.status_alert %}
												<span class="label label-success"><i class='fa fa-warning'></i></span>
											{% endif %}
											<span class="short-description">{{ note.description }}</span>
											<span class="date">{{ note.date_note | date:"d/m/Y H:i" }}</span>
										</p>
										<div class="controls">
											<a href="{{ note.get_absolute_url }}"><i class="lnr lnr-pencil"></i></a>
											<a href="{{ note.get_delete_url }}"><i class="lnr lnr-trash"></i></a>
										</div>
									</li>
								{% endfor %}
							</ul>

							<nav>
								<ul class="pagination pagination-centered" style='margin: 5px 0 7px;'><!--ul pagination pagination-centered -->
									<li>
										<a class='{% if page_obj.has_previous %}btn{% else %} btn disabled{% endif %}' href="?page=1" title=""><<</a>
									</li>

									<li>
										<a class='{% if page_obj.has_previous %}btn{% else %} btn disabled {% endif %}' href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}" title=""><</a>
									</li>

									<li>
										<a class='{% if page_obj.has_next %}btn{% else %} btn disabled{% endif %}' href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}" title="">></a>
									</li>

									<li>
										<a class='{% if page_obj.has_next %}btn{% else %}btn disabled{% endif %}' href="?page={{paginator.num_pages}}" title="">>></a>
									</li>
								</ul><!--ul pagination pagination-centered -->
							</nav><!--nav-->
							<small>{{ page_obj.number }} de {{paginator.num_pages}}</small>
						{% endif %}
					</div>

				</div>
			</div>
		</div>
		<!-- END ROW LIST NOTE -->
	</div>
{% endblock %}
{% block extra_scripts %}
	<script src="{% static 'js/libs/moment.min.js' %}"></script>
	<script src="{% static 'js/libs/daterangepicker.js' %}"></script>
	<script src="{% static 'js/wallet.js' %}"></script>
{% endblock %}