{% load formtags %}

<div class="modal-header">
	<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
		<i style="font-size:15px;" class='lnr lnr-cross'></i>
	</button>
	<h4 class="modal-title">Editar Nota</h4>
</div>

<div class="modal-body">
	<!-- ROW NOTE UPDATE MODAL -->
	<div class="row" id="note_update_modal">
		<div class="col-md-12">
			{% include "messages.html" %}
		</div>

		<div class="col-md-12 col-md-offset-2">

			<form method='post' class="form-modal-note" id="id_edit_note" name='edit_note' action="{{ object.get_update_url }}">
			{% csrf_token %}
				<div class='row'>
					<div class="form-group col-sm-4 {% if form.title.errors %}has-error{% endif %}">
						<label for="id_title">Título:</label>
						{{ form.title|placeholder:"Título" |addcss:"form-control" }}
						<span class="error text-danger">{{ form.title.errors|join:"<br \>" }}</span>
					</div><!-- END ROW -->

					<ul class="list-inline ul_note_create">
						<li style="margin-left: 60px;">
							<div class="form-group {% if form.status_alert.errors %}has-error{% endif %}">
								<label for="id_status_alert">Alerta:</label>
								<label class="switch">
									{{ form.status_alert|addcss:"form-control" }}
									<div class="slider round"></div>
								</label>
								<small class="text-muted">desligado/ligado</small>
							</div>
						</li>
						<li>
							<div class="form-group {% if form.status_note.errors %}has-error{% endif %}">
								<label for="id_status_note">Status:</label>
								<label class="switch">
									{{ form.status_note|addcss:"form-control" }}
									<div class="status_slider round"></div>
								</label>
								<small class="text-muted">fechada/aberta</small>
							</div>
						</li>
					</ul>
				</div><!-- END ROW -->

				<div class='row'>
					<div class="form-group col-sm-4 {% if form.date_note.errors %}has-error{% endif %}">
						<label for="id_date_note">Data da Nota:</label>
						{{ form.date_note|placeholder:"dd/mm/yyyy H:i" |addcss:"form-control" }}
						<span class="error text-danger">{{ form.date_note.errors|join:"<br \>" }}</span>
					</div>
				</div><!-- END ROW -->

				<div class='row'>
					<div class="form-group col-sm-6 {% if form.description.errors %}has-error{% endif %}">
						<label for="id_description">Nota:</label>
						{{ form.description|placeholder:"Descrição" |textarea:"5" |addcss:"form-control" }}
						<span class="error text-danger">{{ form.description.errors|join:"<br \>" }}</span>
					</div>
				</div><!-- END ROW -->

				<div class='row'>
					<div class="col-md-6">
						<div class="form-group">
							<button name="update_note" id="id_update_note" type="submit" class="btn btn-primary">Editar</button>
							<button name='close_update_note' id='id_close_update_note' class="btn btn-danger" aria-hidden="true" data-dismiss="modal" type="button">
								Fechar
							</button>
						</div>
					</div>
				</div><!-- END ROW -->
			</form>

		</div><!-- END COL-MD-12 COL-MD-OFFSET-2 -->
	</div><!-- END ROW NOTE UPDATE MODAL -->
</div><!-- END MODAL-BODY -->