{% load formtags %}

<div class="modal-header">
	<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
		<i class='lnr lnr-cross'></i>
	</button>
	<h4 class="modal-title">Novo Débito</h4>
</div>

<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			{% include "messages.html" %}
		</div>
	</div>
	<div class="row" id="add_debit_modal">
		<div class="col-md-12">
			<form class="form-modal-debit" id="id_add_debit" name='add_debit' method='POST' action="{% url 'wallet:add_debit' %}">
			{% csrf_token %}
				<div class='row'>
					<div class='col-md-6 col-md-offset-3'>

						<div class='input-group {% if form.origin.errors %}has-error{% endif %}'>
							<div class='input-group-addon'>
								<i class='fa fa-exchange fa-fw'></i>
							</div>
							{{ form.origin|placeholder:"Origem" |addcss:"form-control" }}
						</div>
						<span class="error text-danger">{{ form.origin.errors|join:"<br \>" }}</span>

						<div class='input-group {% if form.value.errors %}has-error{% endif %}'>
							<div class='input-group-addon'>
								<i class='fa fa-money fa-fw'></i>
							</div>
							{{ form.value|placeholder:"Valor" |addcss:"form-control" }}
						</div>
						<span class="error text-danger">{{ form.value.errors|join:"<br \>" }}</span>

						<div class='input-group {% if form.document.errors %}has-error{% endif %}'>
							<div class='input-group-addon'>
								<i class='fa fa-file-zip-o fa-fw'></i>
							</div>
							{{ form.document|placeholder:"Documento" |addcss:"form-control" }}
						</div>
						<span class="error text-danger">{{ form.document.errors|join:"<br \>" }}</span>

						<div class='input-group {% if form.date_releases.errors %}has-error{% endif %}'>
							<div class='input-group-addon'>
								<i class='fa fa-calendar fa-fw'></i>
							</div>
							{{ form.date_releases|placeholder:"dd/mm/yyyy H:i" |addcss:"form-control" }}
						</div>
						<span class="error text-danger">{{ form.date_releases.errors|join:"<br \>" }}</span>

						<div class='input-group {% if form.description.errors %}has-error{% endif %}'>
							<div class='input-group-addon'>
								<i class='fa fa-pencil fa-fw'></i>
							</div>
							{{ form.description|placeholder:"Descrição do débito" |textarea:"6" |addcss:"form-control" }}
						</div>
						<span class="error text-danger">{{ form.description.errors|join:"<br \>" }}</span>

					</div><!-- col-md-6 -->

				</div><!-- row -->

				<div class="row">
					<div class="text-center">
						<button class='btn btn-primary' type='submit' name='new_debit_modal' id='id_new_debit_modal'>
						Salvar
						</button>

						<button name="close_new_debit_modal" id="id_close_new_debit_modal" class="btn btn-danger" aria-hidden="true" data-dismiss="modal" type="button">
						Fechar
						</button>
					</div>
				</div><!-- row -->

			</form>
		</div>
	</div>
</div>