{% extends 'base.html' %}
{% load staticfiles %}
{% load formtags %}

{% block extra_styles %}
	<link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<ol class="breadcrumb">
			<li><a href="{% url 'main:home' %}"><i class="fa fa-home fa-fw"></i> Inicio</a></li>
			<li class='active'><i class="fa fa-pie-chart fa-fw"></i> Débitos</li>
		</ol>

		<div class="row" id="list_debit">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<h3 class="panel-title">Débitos</h3>
						<div class='right'>
							<ul class="list-inline">
								<li>
									<form class="form-inline" method="GET">
										<label class="sr-only" for="date">Data</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
											<input type="text" class="form-control" name='date' id="date" placeholder="01/02/2017" value="{% if request.GET.date %}{{ request.GET.date }}{% endif %}">
										</div>
										<button type="submit"><i class='lnr lnr-magnifier'></i></button>
									</form>
								</li>
								<li><a href='{% url "wallet:add_debit" %}'><i class='lnr lnr-plus-circle'></i></a></li>
							</ul>
						</div>
					</div>

					<div class="panel-body">
						{% include "messages.html" %}

						{% if not object_list %}
							<div class='empty-object'>
								<center>
									<h3>Não existem lançamentos de débitos cadastrados</h3>
								</center>
							</div>
						{% else %}
							<div class="table-responsive">
								<table class="table table-striped mb30">
									<thead>
										<tr>
											<th></th>
											<th>#</th>
											<th>Origem</th>
											<th>Valor</th>
											<th>Data</th>
											<th>Documento</th>
											<th>Autor</th>
											<th>Descrição</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										{% for debit in object_list %}
											<tr>
												<td class='clean-td'><i class='fa fa-minus text-danger'></i></td>
												<td>{{ forloop.counter }}</td>
												<td style="width:240px;padding: 0px 10px 0px 0px;">{{ debit.origin }}</td>
												<td style="width:120px;">R$ {{ debit.value|decimal_to_real }}</td>
												<td style="width:140px;">{{ debit.date_releases | date:"d/m/Y H:i" }}</td>
												<td style="width:100px;">{{ debit.document }}</td>
												<td style="width:120px;">{{ debit.author }}</td>
												<td style="width:235px;">{{ debit.description }}</td>
												<td style="width:60px;" class="actions">
													<a href="{{ debit.get_absolute_url }}"><i class="lnr lnr-pencil"></i></a>
													<a href="{{ debit.get_delete_debit }}"><i class="lnr lnr-trash"></i></a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>

							<nav><!--nav-->
								<ul class="pagination pagination-centered" style='margin: 5px 0 7px;'><!--ul pagination pagination-centered -->
									<li>
										<a class='{% if page_obj.has_previous %}btn{% else %} btn disabled{% endif %}' href="?page=1" title=""><<</a>
									</li>

									<li>
										<a class='{% if page_obj.has_previous %}btn{% else %} btn disabled {% endif %}' href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}" title=""><</a>
									</li>

									<li>
										<a class='{% if page_obj.has_next %}btn{% else %} btn disabled{% endif %}' href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}" title="">></a>
									</li>

									<li>
										<a class='{% if page_obj.has_next %}btn{% else %}btn disabled{% endif %}' href="?page={{paginator.num_pages}}" title="">>></a>
									</li>
								</ul><!--ul pagination pagination-centered -->
							</nav><!--nav-->
							<small>{{ page_obj.number }} de {{paginator.num_pages}}</small>
						{% endif %}
					</div>

				</div>
			</div>

		</div><!-- END ROW LIST_DEBIT -->
	</div><!-- END CONTAINER-FLUID -->
{% endblock %}
{% block extra_scripts %}
	<script src="{% static 'js/libs/moment.min.js' %}"></script>
	<script src="{% static 'js/libs/daterangepicker.js' %}"></script>
	<script src="{% static 'js/wallet.js' %}"></script>
{% endblock %}