{% load staticfiles %}
{% load formtags %}

<div class="row">
    <div class="col-md-12">
        {% include "messages.html" %}
    </div>
</div>
{% if not object_list %}
    <h3>Não existem lançamentos de débitos cadastrados</h3>
{% else %}
    <div class="table-responsive">
        <table class="table table-striped mb30">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>Origem</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Autor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for debit in object_list %}
                    <tr>
                        <td class='clean-td'><i class='fa fa-minus text-danger'></i></td>
                        <td style="width:16px;">{{ forloop.counter }}</td>
                        <td style="width:110px;padding: 0px 10px 0px 0px;">{{ debit.origin }}</td>
                        <td style="width:100px;">R$ {{ debit.value|decimal_to_real }}</td>
                        <td style="width:130px;">{{ debit.date_releases | date:"d/m/Y H:i" }}</td>
                        <td style="width:70px;">{{ debit.author }}</td>
                        <td style="width:50px;" class="actions">
                            <a class="edit-debit" id='{{ debit.pk }}' data-toggle="modal" data-target=".bs-example-modal-static" href='#'><i class="lnr lnr-pencil"></i></a>
                            <a class="delete-debit" id="{{ debit.pk }}" data-toggle="modal" data-target=".bs-example-modal-static" href='#'><i class="lnr lnr-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}